@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Reset */
* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
/* Reset */

/* Body and :root */
:root {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #c9c9c9;
}
/* Body and :root */

/* Header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: whitesmoke;

    margin-bottom: 10vh;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.281);
}

header .logo {
    font-weight: bold;
    white-space: nowrap;
}

.links {
    list-style: none;
}

header .links {
    display: flex;
    align-items: center;
}

header .links li {
    font-size: clamp(14px, 1rem, 50vw);
    padding: 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    white-space: nowrap;
}

header .links li:hover {
    background-color: #00000050;
}
/* End Header */

/* Board */
#board {
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 15px;
    width: 70%;

    display: flex;
    flex-direction: column;
}
/* End Board */

/* Board Children */
#board .row {
    min-height: clamp(20px, 10vw, 250px);
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 5px dashed #c9c9c9;
}

.col-1 {
    grid-column-start: 2;
}

.col, .response {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    font-size: clamp(2rem, 7vw, 12rem);
}

.response-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.response {
    font-size: clamp(1rem, 3.5vw, 7rem);
}

/* End Board Children */

/* Form */
#code {
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px black;
    border-radius: 15px;
    padding: 5px;  
    position: fixed;
    bottom: 20px;
}
/* End Form */

/* Form Children */
.input {
     background-color: whitesmoke;
    appearance: none;
    text-align: center;
    vertical-align: middle;
    font-size: clamp(1rem, 5vw, 2rem);
    height: auto;
}
/* End Form Children */